RELEASE_TAG=v0.1.0
API_IMAGE=cvworkbench-api
WORKER_IMAGE=cvworkbench-worker

POSTGRES_DB=cvworkbench
POSTGRES_USER=cvworkbench
POSTGRES_PASSWORD=replace-with-a-random-password
API_PORT=18732

FRONTEND_ORIGIN=https://cvworkbench.com
LATEX_COMPILER_ENABLED=true
LATEX_COMPILER_PATH=xelatex
COMPILE_TIMEOUT_SECONDS=30
SESSION_TTL_SECONDS=2592000
COOKIE_SECURE=false
